# label for component panel
'label': 'Page'

# is container
'container' : true

# selector list
'selector' : ['closet-page']

# component resource files
'reousrces':
    'js': './page.js'
    'css': './page.css'

# attribute of component
'attributes': {}

# declare component's behavior that component what has event and method
'behaviors':
    'events':
        'shown':
            'label': 'Show'
        'hidden':
            'label': 'Hide'

    'functions':
        'goto':
            'label': 'Move Page'
            'parameter':
                'pageId':
                    'label': 'Page'
                    'type':
                        'name': 'string-select-list'
                        'option':
                            'list': 'getPageIdList()'
                    'value': 'none'
