# label for component panel
'label': 'Poll List'

# component resource files
'resources':
    'js': ['poll-list.js']
    'css': 'poll-list.css'

# attribute of component
'attributes':
    'list-type':
        'label': 'List Type'
        'value': ''
        'type':
            'name':  'select'
            'option':
                'list': [
                    {label: 'none', value: ''}
                    {label: 'square', value: 'square'}
                    {label: 'disc', value: 'disc'}
                    {label: 'circle', value: 'circle'}
                    {label: 'decimal', value: 'decimal'}
                    {label: 'decimal leading zero', value: 'decimal-leading-zero'}
                    {label: 'upper alpha', value: 'upper-alpha'}
                    {label: 'upper latin', value: 'upper-latin'}
                    {label: 'upper roman', value: 'upper-roman'}
                    {label: 'lower alpha', value: 'lower-alpha'}
                    {label: 'lower greek', value: 'lower-greek'}
                    {label: 'lower latin', value: 'lower-latin'}
                    {label: 'lower roman', value: 'lower-roman'}
                ]
    'contents-list':
        'label': 'Poll List Items'
        'value': ''
        'type':
            'name': 'string-list'
    'answer':
        'label': 'Answer'
        'value': 0
        'type':
            'name': 'number'