{
    "presets": [
      "@babel/preset-env"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "alias": {
            "@": "./design-editor/src"
          }
        }
      ]
    ]
  }
