<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        html, body {
            width : 100%;
            height : 100%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../../../../dist/1.0.0/dress.closet.full.css">
    <script type="text/javascript" src="../../../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../../../libs/tau.animation.min.js"></script>
    <script type="text/javascript">
        window.tau.animation.SimpleMixin($.fn);
    </script>
    <script type="text/javascript" src="../../../../dist/1.0.0/dress.closet.full.js"></script>
</head>
<body>
<closet-poll-list answer="2">
    <li id="closet-poll-list-item-1" class="closet-poll-list-item">Answer 1</li>
    <li id="closet-poll-list-item-2" class="closet-poll-list-item">Answer 2</li>
</closet-poll-list>
</body>
</html>
