# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
   'button.eventElement': [
     {
       'label': 'Edit event'
       'command': 'context-menu:editEvent'
     }
     {
       'label': 'Remove event'
       'command': 'context-menu:removeEvent'
     }
   ],
   'button.labelElement': [
     {
       'label': 'Edit label'
       'command': 'context-menu:editLabel'
     }
     {
       'label': 'Remove label'
       'command': 'context-menu:removeLabel'
     }
   ]
'menu': [
  {
    'label': 'Closet',
    'submenu': [
      {
        'label': 'New Project',
        'command': 'closet:newProject'
      }
      {
        'label': 'New Page',
        'command': 'closet:newPage'
      }
      {
        'label': 'Export to Tizen wgt',
        'command': 'closet:exportTizen'
      }
    ]
  }
]
