<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../../dist/1.0.0/dress.closet.full.css">
    <script type="text/javascript" src="../../../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../../../libs/tau.animation.min.js"></script>
    <script type="text/javascript">
        window.tau.animation.SimpleMixin($.fn);
    </script>
    <script type="text/javascript" src="../../../../dist/1.0.0/dress.closet.full.js"></script>
</head>
<body>
    <closet-video src="test.mp4"></closet-video>
</body>
</html>
