# label for component panel
'label': 'Progress'
'selector': 'closet-tau-circle-progress'

# Possible to add or not
# Default : true
'attachable' : true

# Types of components
# Default : component
'type': 'standalone-component'
'altSelector': true

# component resource files
'resources':
    'js': 'tau-circle-progress.js'
    'css': './tau-circle-progress.css'
    'icon': './resources/progress.png'

# component template
'template': '<closet-tau-circle-progress class="using-alternative-selector" max="100" value="20"></closet-tau-circle-progress>'
