.ui-scroller::-webkit-scrollbar, .ui-scrollview-clip::-webkit-scrollbar {
	display: none;
}

.ui-scroller, .ui-scrollview-clip {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}