'closet-project-wizard':
    'enter': 'closet-project-wizard:accept'
    'escape': 'closet-project-wizard:cancel'
'closet-assistant-wizard':
    'enter': 'closet-assistant-wizard:accept'
    'escape': 'closet-assistant-wizard:cancel'
'closet-assistant-view':
    'ctrl-alt-i': 'closet:openAssistantWizard'
'atom-workspace':
    'f5': 'closet-stage:toggle-preview'
    'f6': 'closet-stage:toggle-editor'
    'f7': 'closet-stage:toggle-assistant-view'
    'f8': 'closet-stage:toggle-drag-edit-mode'
'closet-page-wizard':
    'enter': 'closet-page-wizard:accept'
    'escape': 'closet-page-wizard:cancel'