<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../../../dist/1.0.0/dress.closet.full.css">
    <style>
        body { margin: 0;padding: 0;background-color: rgb(217, 217, 217); }
    </style>
    <script type="text/javascript" src="../../../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../../../dist/1.0.0/dress.closet.full.js"></script>
</head>
<body>
    <closet-section style="display: flex;height: 100vh;width: 100%;">
        <closet-scroller style="width: 50%;height: 100%;"></closet-scroller>
        <closet-scroller style="width: 50%;height: 100%;"></closet-scroller>
    </closet-section>
</body>
</html>
