<li>
    <span class="closet-attribute-common-label-long">Files Selection</span>
    <input type="file" id="cfFiles" name="files" multiple="multiple">
</li>
<li id="coverflowEffect">
    <span class="closet-attribute-common-label-long">Effect Selection</span>
    <select id="selectEffect" name="effect" class="closet-attribute-common-textbox closet-attribute-common-border-style-long long-controls">
        <option>coverflow</option>
        <option>carousel</option>
        <option>wheel</option>
        <option>flat</option>
    </select>
</li>
<li id="coverflowFileSize">
    <span class='closet-attribute-common-label-long'>Files Size</span>
    <input type='text' name='cfSize' class='native-key-bindings closet-attribute-common-textbox'>
</li>

