<li>
    <span class="closet-attribute-common-label-long">color</span>
	<input type="color" name="backgroundColor" class="closet-attribute-common-textbox">
	<button id="backgroundColorClear" class="btn" style="display:none;">Reset color</button>
</li>
<li id="backgroundImageChoose">
    <span class="closet-attribute-common-label-long">image</span>
    <input type="file" id="fileForBackground" name="file" />
</li>
<li id="backgroundImageShow">
    <span class="closet-attribute-common-label-long">image</span>
    <input type="text" name="backgroundImage" id="backgroundImageValue" readonly="readonly" class="closet-attribute-common-textbox">
    <button id="fileForBackgroundClear">Remove</button>
</li>
<li>
    <span class="closet-attribute-common-label-long">size</span>
    <input type="text" name="backgroundSize" class="native-key-bindings closet-attribute-common-textbox">
</li>
<li>
    <span class="closet-attribute-common-label-long">background position X</span>
    <input type="text" name="backgroundPositionX" class="closet-attribute-common-textbox">
</li>
<li>
    <span class="closet-attribute-common-label-long">background position Y</span>
    <input type="text" name="backgroundPositionY" class="closet-attribute-common-textbox">
</li>
<li>
    <span class="closet-attribute-common-label-long">repeat</span>
    <select name="backgroundRepeat" class="closet-attribute-common-textbox closet-attribute-common-border-style-long long-controls">
        <option>repeat</option>
        <option>repeat-x</option>
        <option>repeat-y</option>
        <option>no-repeat</option>
    </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">opacity</span>
    <input type="text" name="opacity" class="native-key-bindings closet-attribute-common-textbox">
</li>
