<li>
    <span class="closet-attribute-common-label">width</span>
    <input type="text" name="width" class="native-key-bindings closet-attribute-common-textbox">
    <span class="closet-attribute-common-label">height</span>
    <input type="text" name="height" class="native-key-bindings closet-attribute-common-textbox">
</li>
<li>
    <span class="closet-attribute-common-label-long">max width</span>
    <input type="text" name="maxWidth" class="native-key-bindings closet-attribute-common-textbox">
</li>
<li>
    <span class="closet-attribute-common-label-long">max height</span>
    <input type="text" name="maxHeight" class="native-key-bindings closet-attribute-common-textbox">
<li>
    <span class="closet-attribute-common-label-long">min width</span>
    <input type="text" name="minWidth" class="native-key-bindings closet-attribute-common-textbox">
</li>
<li>
    <span class="closet-attribute-common-label-long">min height</span>
    <input type="text" name="minHeight" class="native-key-bindings closet-attribute-common-textbox">
</li>
<li>
    <span class="closet-attribute-common-label">left</span>
    <input type="text" name="left" class="native-key-bindings closet-attribute-common-textbox">
    <span class="closet-attribute-common-label">top</span>
    <input type="text" name="top" class="native-key-bindings closet-attribute-common-textbox">
    <span class="closet-attribute-common-label">right</span>
    <input type="text" name="right" class="native-key-bindings closet-attribute-common-textbox">
    <span class="closet-attribute-common-label">bottom</span>
    <input type="text" name="bottom" class="native-key-bindings closet-attribute-common-textbox">
</li>
<li>
    <span class="closet-attribute-common-label-long">position</span>
    <select name="position" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>static</option>
        <option>absolute</option>
        <option>fixed</option>
        <option>relative</option>
        <option>initial</option>
        <option>inherit</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">float</span>
    <select name="float" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>left</option>
        <option>right</option>
        <option>none</option>
        <option>initial</option>
        <option>inherit</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">display</span>
    <select name="display" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>none</option>
        <option>inline</option>
        <option>block</option>
        <option>flex</option>
        <option>inline-block</option>
        <option>inline-flex</option>
        <option>list-item</option>
        <option>initial</option>
        <option>inherit</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">visibility</span>
    <select name="visibility" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>collapse</option>
        <option>hidden</option>
        <option>initial</option>
        <option>inherit</option>
        <option>visible</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">overflow-x</span>
    <select name="overflowX" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>auto</option>
        <option>hidden</option>
        <option>inherit</option>
        <option>initial</option>
        <option>overlay</option>
        <option>visible</option>
        <option>scroll</option>
    </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">overflow-y</span>
    <select name="overflowY" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>auto</option>
        <option>hidden</option>
        <option>inherit</option>
        <option>initial</option>
        <option>overlay</option>
        <option>visible</option>
        <option>scroll</option>
    </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">z-index</span>
    <input type="text" name="zIndex" class="native-key-bindings closet-attribute-common-textbox">
</li>
