<li id="checkboxColor">
  <label class="closet-attribute-common-label-long" for="checkboxColorVal">
    Checkbox color
  </label>
  <input type="color" id="checkboxColorVal">
</li>
<li id="checkedImage">
  <label class="closet-attribute-common-label-long" for="checkedImagePath">
    Image for checked checkbox
  </label>
  <input type="file" id="checkedImagePath">
  <p id="checkedImageValue"></p>
</li>
<li id="uncheckedImage">
  <label class="closet-attribute-common-label-long" for="uncheckedImagePath">
    Image for unchecked checkbox
  </label>
  <input type="file" id="uncheckedImagePath">
  <p id="uncheckedImageValue"></p>
</li>
