<li class="closet-attribute-common-marginBox-container">
    <div class = "closet-attribute-common-marginBox">
        <span class="closet-attribute-common-box-label">margin</span>
        <div>
            <input type="text" name="marginTop" class="native-key-bindings closet-attribute-common-box-input closet-attribute-common-box-top">
            <input type="text" name="marginRight" class="native-key-bindings closet-attribute-common-box-input closet-attribute-common-box-right">
            <input type="text" name="marginBottom" class="native-key-bindings closet-attribute-common-box-input closet-attribute-common-box-bottom">
            <input type="text" name="marginLeft" class="native-key-bindings closet-attribute-common-box-input closet-attribute-common-box-left">
        </div>
        <div class="closet-attribute-common-paddingBox">
            <span class="closet-attribute-common-box-label">padding</span>
            <input type="text" name="paddingTop" class="native-key-bindings closet-attribute-common-box-input closet-attribute-common-box-top">
            <input type="text" name="paddingRight" class="native-key-bindings closet-attribute-common-box-input closet-attribute-common-box-right">
            <input type="text" name="paddingBottom" class="native-key-bindings closet-attribute-common-box-input closet-attribute-common-box-bottom">
            <input type="text" name="paddingLeft" class="native-key-bindings closet-attribute-common-box-input closet-attribute-common-box-left">
        </div>
    </div>
</li>
<li class="closet-attribute-common-border">
    <span class="closet-attribute-common-label-long">box shadow</span>
    <input type="text" 
        name="boxShadow" 
        class="native-key-bindings closet-attribute-common-textbox long-controls" 
        placeholder="10px 10px 5px #000"
        title="Shadow effect - possible values: inset width height blur color">
</li>
<li class="closet-attribute-common-border">
    <span class="closet-attribute-common-label">border</span>
    <input type="text" 
        name="borderWidth" 
        class="native-key-bindings closet-attribute-common-textbox" 
        placeholder="10px"
        title="Border width expressed in px, pt, %, em, rem, vh etc.">
    <select name="borderStyle" class="closet-attribute-common-textbox closet-attribute-common-border-style">
        <option>none</option>
        <option>solid</option>
        <option>hidden</option>
        <option>dotted</option>
        <option>double</option>
        <option>groove</option>
        <option>dashed</option>
        <option>ridge</option>
        <option>insert</option>
        <option>outset</option>
    </select>
    <input type="color" name="borderColor" class="closet-attribute-common-textbox">
</li>
<li class="closet-attribute-common-border">
    <span class="closet-attribute-common-label-long">border radius</span>
    <input type="text" 
        name="borderRadius" 
        class="native-key-bindings closet-attribute-common-textbox long-controls" 
        placeholder="10px or 50%"
        title="Radius for corners expressed in px, %, em, vh etc.">
</li>
