<div class="closet-property-title closet-attribute-element-title">Attributes </div>
<div class="closet-property-content closet-attribute-element-content">
    <!-- component attribute -->

    <div class="panel-heading closet-property-list-title closet-property-widget-option">
        <div class="closet-property-header">
            <div class="closet-property-anchor">
                <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                <span class="title">Widget Options</span>
            </div>
        </div>
    </div>
    <ul class="closet-widget-options-list closet-property-list closet-property-list-close"></ul>

    <!-- element -->
    <div class="panel-heading closet-property-list-title">
        <div class="closet-property-header">
            <div class="closet-property-anchor">
                <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                <span class="title">Element</span>
            </div>
        </div>
    </div>
    <ul class="closet-attribute-element-list closet-property-list closet-property-list-close"></ul>
        
    <!-- smart things -->
    <div class="panel-heading closet-property-list-title">
            <div class="closet-property-header">
                <div class="closet-property-anchor">
                    <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                    <span class="title">Smart Things</span>
                </div>
            </div>
        </div>
        <ul class="closet-attribute-element-smartthings closet-property-list closet-property-list-close"></ul>
    
    <!-- box model -->
    <div class="panel-heading closet-property-list-title">
        <div class="closet-property-header">
            <div class="closet-property-anchor">
                <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                <span class="title">Box Model</span>
            </div>
        </div>
    </div>
    <ul class="closet-attribute-box-model-list closet-property-list closet-property-list-close"></ul>

    <!-- dimension -->
    <div class="panel-heading closet-property-list-title">
        <div class="closet-property-header">
            <div class="closet-property-anchor">
                <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                <span class="title">Dimension / Position / Display / Float</span>
            </div>
        </div>
    </div>
    <ul class="closet-attribute-dimension-position-list closet-property-list closet-property-list-close"></ul>

    <!-- background-->
    <div class="panel-heading closet-property-list-title">
        <div class="closet-property-header">
            <div class="closet-property-anchor">
                <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                <span class="title">Background</span>
            </div>
        </div>
    </div>
    <ul class="closet-attribute-background-list closet-property-list closet-property-list-close"></ul>

    <!-- flex container / items-->
    <div class="panel-heading closet-property-list-title">
        <div class="closet-property-header">
            <div class="closet-property-anchor">
                <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                <span class="title">Flex</span>
            </div>
        </div>
    </div>
    <ul class="closet-attribute-flex-list closet-property-list closet-property-list-close"></ul>

    <!-- text -->
    <div class="panel-heading closet-property-list-title">
        <div class="closet-property-header">
            <div class="closet-property-anchor">
                <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                <span class="title">Text</span>
            </div>
        </div>
    </div>
    <ul class="closet-text-element-list closet-property-list closet-property-list-close"></ul>

    <!-- image -->
    <div class="panel-draggable closet-image-element">
        <div class="panel-heading closet-property-list-title">
            <div class="closet-property-header">
                <div class="closet-property-anchor">
                    <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                    <span class="title">Image</span>
                </div>
            </div>
        </div>
        <ul class="closet-image-element-list closet-property-list closet-property-list-close"></ul>
    </div>

    <div class="panel-draggable closet-checkbox-element">
        <div class="panel-heading closet-property-list-title">
            <div class="closet-property-header">
                <div class="closet-property-anchor">
                    <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                    <span class="title">Custom checkbox </span>
                </div>
            </div>
        </div>
        <ul class="closet-checkbox-element-list closet-property-list closet-property-list-close"></ul>
    </div>

    <!-- style -->
    <div class="panel-draggable">
        <div class="panel-heading closet-property-list-title">
            <div class="closet-property-header">
                <div class="closet-property-anchor">
                    <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                    <span class="title">Style</span>
                </div>
            </div>
        </div>
        <ul class="closet-style-element-list closet-property-list closet-property-list-close"></ul>
    </div>

    <!-- layout -->
    <div class="panel-draggable">
        <div class='panel-heading closet-property-list-title'>
            <div class="closet-property-header">
                <div class="closet-property-anchor">
                    <span class='fa fa-caret-right closet-property-list-title-icon'></span>
                    <span class="title">Layout</span>
                </div>
            </div>
        </div>
        <ul class='closet-layout-element-list closet-property-list closet-property-list-close'></ul>
    </div>

    <!-- interative 3D -->
    <div class="panel-draggable closet-interactive-element">
        <div class="panel-heading closet-property-list-title">
            <div class="closet-property-header">
                <div class="closet-property-anchor">
                    <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                    <span class="title">Interative 3D</span>
                </div>
            </div>
        </div>
        <ul class="closet-interactive-element-list closet-property-list closet-property-list-close"></ul>
    </div>

    <!-- CoverFlow -->
    <div class="panel-draggable closet-coverflow-element">
        <div class="panel-heading closet-property-list-title">
            <div class="closet-property-header">
                <div class="closet-property-anchor">
                    <span class="fa fa-caret-right closet-property-list-title-icon"></span>
                    <span class="title">CoverFlow</span>
                </div>
            </div>
        </div>
        <ul class="closet-coverflow-element-list closet-property-list closet-property-list-close"></ul>
    </div>
</div>
