<li>
    <span class="closet-attribute-common-label-long">flex direction</span>
    <select name="flexDirection" class="closet-attribute-common-textbox closet-attribute-common-border-style-long long-controls">
        <option>row</option>
        <option>row-reverse</option>
        <option>column</option>
        <option>column-reverse</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">flex wrap</span>
    <select name="flexWrap" class="closet-attribute-common-textbox closet-attribute-common-border-style-long long-controls">
        <option>nowrap</option>
        <option>wrap</option>
        <option>wrap-reverse</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">justify-content</span>
    <select name="justifyContent" class="closet-attribute-common-textbox closet-attribute-common-border-style-long long-controls">
        <option>start</option>
        <option>end</option>
        <option>center</option>
        <option>space-between</option>
        <option>space-around</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">align items</span>
    <select name="alignItems" class="closet-attribute-common-textbox closet-attribute-common-border-style-long long-controls">
        <option>start</option>
        <option>end</option>
        <option>center</option>
        <option>baseline</option>
        <option>stretch</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">align content</span>
    <select name="alignContent" class="closet-attribute-common-textbox closet-attribute-common-border-style-long long-controls">
        <option>start</option>
        <option>end</option>
        <option>center</option>
        <option>space-between</option>
        <option>space-around</option>
        <option>stretch</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">order</span>
    <input type="text" name="order" class="closet-attribute-common-textbox"/>
</li>
<li>
    <span class="closet-attribute-common-label-long">flex grow</span>
    <input type="text" name="flexGrow" class="closet-attribute-common-textbox"/>
</li>
<li>
    <span class="closet-attribute-common-label-long">flex shrink</span>
    <input type="text" name="flexShrink" class="closet-attribute-common-textbox"/>
</li>
<li>
    <span class="closet-attribute-common-label-long">flex basis</span>
    <input type="text" name="flexBasis" class="closet-attribute-common-textbox"/>
</li>
<li>
    <span class="closet-attribute-common-label-long">align self</span>
    <select name="alignSelf" class="closet-attribute-common-textbox closet-attribute-common-border-style-long long-controls">
        <option>start</option>
        <option>auto</option>
        <option>flex-start</option>
        <option>flex-end</option>
        <option>center</option>
        <option>baseline</option>
        <option>stretch</option>
   </select>
</li>
