<li class="closet-additional-attribute">
    <span class="closet-attribute-common-label-long">content</span>
    <input type="text" name="content" class="native-key-bindings closet-attribute-common-textbox long-controls">
</li>
<li class="closet-additional-attribute">
    <span class="closet-attribute-common-label-long">font family</span>
    <select name="fontFamily" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>Arial</option>
        <option>Courier New</option>
        <option>Times New Roman</option>
        <option>Tizen, Helvetica</option>
   </select>
</li>
<li class="closet-additional-attribute">
    <span class="closet-attribute-common-label-long">font size</span>
    <input type="text" name="fontSize" class="native-key-bindings closet-attribute-common-textbox">
</li>
<li class="closet-additional-attribute">
    <span class="closet-attribute-common-label-long">font weight</span>
    <select name="fontWeight" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>normal</option>
        <option>bold</option>
        <option>100</option>
        <option>200</option>
        <option>300</option>
        <option>400</option>
        <option>500</option>
        <option>600</option>
        <option>700</option>
        <option>800</option>
        <option>900</option>
   </select>
</li>
<li class="closet-additional-attribute">
    <span class="closet-attribute-common-label-long">font style</span>
    <select name="fontStyle" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>normal</option>
        <option>italic</option>
        <option>oblique</option>
   </select>
</li>
<li class="closet-additional-attribute">
    <span class="closet-attribute-common-label-long">text align</span>
    <select name="textAlign" class="closet-attribute-common-textbox closet-attribute-common-border-style-long">
        <option>left</option>
        <option>center</option>
        <option>right</option>
        <option>justify</option>
   </select>
</li>
<li>
    <span class="closet-attribute-common-label-long">line height</span>
    <input type="text" name="lineHeight" class="native-key-bindings closet-attribute-common-textbox">
</li>
<li>
    <span class="closet-attribute-common-label-long">letter spacing</span>
    <input type="text" name="letterSpacing" class="native-key-bindings closet-attribute-common-textbox">
</li>
<li class="closet-additional-attribute">
    <span class="closet-attribute-common-label-long">color</span>
    <input type="color" name="color" class="closet-attribute-common-textbox">
</li>
